@{
    ViewBag.Title = "Index";
}

<h2>Lenguajes de Programación para la Administración</h2>

<div>
    <figure>
        <img src="~/Content/img/computer.png" alt="Excepteur sint occaecat cupidatat"/>
        <figcaption>Logo de LPPA</figcaption>
    </figure>
    <p>
        Es fundamental que el futuro Ingeniero en Informática pueda además de desarrollar aplicaciones web hacerlo de la manera más racional y eficiente contando para ello con las herramientas de diseño que la asignatura le provee.
        Además, aborda y profundiza los conceptos de Cliente-Servidor permitiéndole identificar cual O cuáles serán los más apropiados a implementar según las características y/o especificidades requeridas.
    </p>
</div>

